/* Common Styles */

:root {
  --primary-text-color: #111;
  --secondary-text-color: #fff;
  --primary-bg-color: #fafafa;
  --secondary-bg-color: #1e1823;
  --tertiary-bg-color: rgba(17, 17, 17, 0.7);
  --primary-font-family: "Montserrat", sans-serif;
  --orange: #fd9222;
  --buy-now-but-color: #fcf1e0;
  --primary-border-color: rgba(17, 17, 17, 0.1);
}

body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  list-style: disc;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;
}

/* /common styles */

/* header */
.page-header {
  padding: 24px 0;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 4px;
  color: var(--primary-text-color);
  font-weight: 800;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
}
.page-nav {
  margin-right: 90px;
}
.nav-list {
  font-size: 14px;
  display: flex;
  gap: 24px;
  color: var(--primary-text-color);
}
.nav-link {
  padding: 12px 0;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.28px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--orange);
}
.socials-list {
  display: flex;
  gap: 14px;
}
.socials-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-border-color);
  border-radius: 10px;
}
.socials-link:hover .socials-svg,
.socials-link:focus .socials-svg {
  fill: var(--orange);
  border-color: var(--orange);
}

/* main */
.section {
  padding: 60px 0;
}

/* hero section */
.hero-sect {
  width: 1136px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding: 381px 40px 40px 40px;
  background-color: var(--tertiary-bg-color);
  border-radius: 30px;
}
.hero-main-h {
  width: 484px;
  margin-bottom: 32px;
  color: var(--secondary-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21; /* 121.429% */
  letter-spacing: -0.84px;
}
.hero-buttons {
  display: flex;
  align-items: center;
}
.buy-now-but {
  margin-right: 14px;
  color: var(--secondary-text-color);
  padding: 14px 40px;
  border: 0;
  border-radius: 100px;
  background-color: var(--orange);
}
.buy-now-but:hover,
.buy-now-but:focus {
  color: var(--orange);
  background-color: var(--buy-now-but-color);
}
.link-to-how-its-made {
  margin-right: auto;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid var(--secondary-text-color);
  color: var(--secondary-text-color);
}
.link-to-how-its-made:hover,
.link-to-how-its-made:focus {
  color: var(--orange);
  border-color: var(--orange);
}
.hero-scroll-link {
  color: var(--secondary-text-color);
}
.scroll-down-container {
  display: flex;
  align-items: center;
  gap: 14px;
}
.scroll-down-svg {
  fill: var(--orange);
}
.ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--secondary-text-color);
  border-radius: 50%;
}
.hero-scroll-link:hover .scroll-down-container,
.hero-scroll-link:focus .scroll-down-container {
  color: var(--orange);
}
.hero-scroll-link:hover .ellipse,
.hero-scroll-link:focus .ellipse {
  background-color: var(--orange);
}
.hero-scroll-link:hover .scroll-down-svg,
.hero-scroll-link:focus .scroll-down-svg {
  fill: var(--secondary-text-color);
}

/* benefits section */
.benefits-sect {
  background-color: var(--secondary-bg-color);
}
.benefits-container {
  padding: 50px;
}
.benefits-list {
  display: flex;
  gap: 88px;
}
.benefits-item {
  width: calc((100% - 176px) / 3);
}
.benefits-item-h {
  margin: 0 0 18px 0;
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22; /* 122.222% */
}
.benefits-item-p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ingridients section */
.ingridients-sect {
  padding-top: 120px;
}
.accent-color {
  color: var(--orange);
}
.section-title {
  width: 412px;
  margin: 0 auto 50px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.ingridients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.ingridients-item {
  width: calc((100% - 32px * 3) / 4);
  padding: 23px 28px;
  border-radius: 15px;
}
.ingridients-item:nth-child(even) {
  border: 1px solid var(--orange);
}
.ingridients-item:nth-child(4n + 1) {
  background-color: var(--orange);
  color: var(--secondary-text-color);
}
.ingridients-item:nth-child(4n - 1) {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
}
.ingridients-item-img {
  margin-bottom: 36px;
}
.ingridients-item-h {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;
}

/* how it's made section */
.how-its-made-container {
  display: flex;
  gap: 20px;
}
.cooking-steps {
  padding: 32px;
  background-color: var(--secondary-text-color);
  border-radius: 15px;
}
.cooking-steps-h {
  margin-bottom: 28px;
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.cooking-steps-list {
  padding-left: 16px;
}
.cooking-steps-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;
}
.cooking-steps-item:not(:last-child) {
  margin-bottom: 24px;
}

/* our products section */
.our-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.our-products-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 3 * 18px) / 4);
  padding: 32px 20px;
  border: 1px solid var(--primary-border-color);
  border-radius: 15px;
  background-color: var(--secondary-text-color);
}
.our-products-item-img {
  margin-bottom: 8px;
}
.chocolate-name-h {
  margin-bottom: 2px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
}
.our-products-item-p {
  margin-bottom: 18px;
  color: var(--tertiary-bg-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
  letter-spacing: -0.24px;
}
.our-products-button {
  padding: 8px 20px;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 600;
}
.our-products-button:hover,
.our-products-button:focus {
  background-color: #b2b2b2;
}

/* top sellers section */
.top-sellers-list {
  display: flex;
  gap: 16px;
}
.top-sellers-item {
  width: calc((100% - 16px * 2) / 3);
  padding-bottom: 28px;
  border: 1px solid var(--primary-border-color);
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--secondary-text-color);
}
.top-sellers-img {
  margin-bottom: 28px;
}
.top-sellers-item-h {
  margin: 0;
}

/* reviews section */
.reviews-sect {
  padding-bottom: 120px;
}
.reviews-title {
  margin-bottom: 92px;
}
.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.reviews-item {
  position: relative;
  width: calc((100% - 56px) / 3);
  padding: 56px 24px 24px 24px;
  border: 1px solid var(--primary-border-color);
  border-radius: 15px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 10px 100px 0px var(--primary-border-color);
}
.reviews-item-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.reviews-item-h {
  margin-bottom: 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33; /* 133.333% */
}
.reviews-item-p {
  color: var(--tertiary-bg-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;
}
.leave-review-but {
  display: block;
  margin: 0 auto;
  padding: 14px 40px;
  border: 1px solid var(--orange);
  background-color: var(--primary-bg-color);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
}
.leave-review-but:hover,
.leave-review-but:focus {
  background-color: var(--orange);
  color: var(--secondary-text-color);
}

/* footer */
.page-footer {
  background-color: var(--secondary-bg-color);
}
.footer-container {
  padding: 50px 32px;
}
.footers-top {
  display: flex;
}
.footer-title {
  margin-right: auto;
  width: 300px;
  color: var(--secondary-text-color);
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56px;
}
.footer-social-networks {
  margin-right: 58px;
}
.footer-secondary-title {
  margin-bottom: 14px;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28; /* 128.571% */
}
.footer-socials-svg {
  fill: var(--secondary-text-color);
  border-color: rgba(255, 255, 255, 0.1);
}
.address-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28; /* 128.571% */
  letter-spacing: -0.28px;
}
.address-item:first-child {
  margin-bottom: 4px;
}

.divider {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 54px;
  margin-bottom: 42px;
}
.footer-nav-link {
  padding: 18px 0;
  color: var(--secondary-text-color);
}
